<div class="page-content">
  <%= link_to "End match", game_path(@game), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary green" %>

  <h1 class="green">
    <%= "Player count: #{@game.max_player_count}" %>
    <br/>
    <%= "rounds: #{@game.rounds}" %>
    <br/><br/>
    <%= react_component("Game", { initialPlayers: @game.players, game: @game }) %>
  </h1>
</div>
